body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color5);
    color: var(--color4);
}

header button {
    position: absolute;
    border-radius: 1rem;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
}

header button:hover {
    background-color: var(--color3);
}

header img {
    width: 64px;
    height: auto;
    border-radius: .2rem;
    margin: 0;
}    

header div {
    padding: 1rem;
    padding-right: 5rem;
}

header .professionalName {
    font-weight: bold;
}

header .professionalTitle {
    font-size: .9rem;
}

header :is(
    .professionalEmail, 
    .professionalPhone
) {
    font-style: italic;
    font-size: small;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--color2);
    border-bottom: .1rem solid var(--color4);
    box-shadow: 0 .1rem 1rem var(--color4);
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2.5rem;
}

nav a:hover {
    background-color: var(--color1);
    font-weight: bold;
}

main {
    text-align: center;
}

main h1 {
    background-color: var(--color2);
    color: var(--color5);
    margin: 0;
    padding: 3rem 0 2rem 0;
}

.gameArticle {
    border-bottom: 1rem solid var(--color2);
    padding: 0 0 3rem 0;
    font-size: 1.25rem;
}

.gameArticle img {
    width: 100%;
    height: auto;
    margin: 0;
}

.gameArticle :is(p, ul) {
    padding-left: 2rem;
    padding-right: 2rem;
}

.gameArticle ul {
    list-style: none;
    padding-bottom: 2rem;
}

.gameArticle li {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
}

.gameArticle a {
    background-color: var(--color2);
    border-radius: 1rem;
    padding: 1rem 1.25rem;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.gameArticle a:hover {
    background-color: var(--color1);
}

#contactSection {
    padding: 2rem 0;
}

#contactSection :is(input, textarea) {
    display: block;
    margin: .75rem auto;
    width: 10rem;
    height: 1.75rem;
}

#contactSection textarea {
    height: 5rem;
    width: 20rem;
}

#contactSection input[type="submit"] {
    background-color: var(--color2);
    color: var(--color5);
    border: none;
    border-radius: 1rem;
    margin: 3rem auto;
    font-size: large;
    font-weight: bold;
    height: 2.5rem;
}

#contactSection input[type="submit"]:hover {
    background-color: var(--color1);
    cursor: pointer;
}

footer {
    text-align: center;
}

footer img {
    width: 20px;
    height: auto;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}