@media (min-width: 1024px) {
    :root {
        --color1: #008000;
        --color2: #ffffff;
        --color3: #000000;
        --color4: #800080;
        --color5: #ff0000;
        --color6: #ffff00;
        --color7: #ffffffee;
    
        --font-title: 'Roboto', serif;
        --font-body: 'Open Sans', sans-serif;
    }

    main picture img {
        border: none;
    }

   .floatLeft, .floatRight {
        position: absolute;
        background-color: var(--color7);
    }

    .floatLeft h2, .floatRight h2 {
        background-color: var(--color1);
        color: var(--color2);
        text-align: justify;

        margin: 0 1rem 0 -1.5rem;
    }

    .floatRight h2::after {
        content: "🌤️";
        position: absolute;
        right: 2.5rem;
    }

    .floatLeft {
        top: 12rem;
        left: 1rem;
    }

    .floatRight {
        bottom: 8rem;
        right: 1rem;
    }

    section img {
        display: none;
    }
}